* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;

}

.grid {
    display: grid;
    grid-template-columns: 40% auto;
    height: 100vh;
}

.interactive-card-section {
    background-image: linear-gradient(#280042, rgba(95, 3, 45, 0.9));
        /* min-width: 558px; */
}

.card-front-container {
    display: flex;
    align-items: center;
    width: fit-content;
} 

.card-back-container {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-end;
    /* justify-content: center; */
}


.card-front-and-back-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-number-container {
    position: absolute;
    display: flex;
    margin-left: 24px;
    gap: 20px;
}

.card-number {
    font-size: 24px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
}

.cvv {
    position: absolute;
    font-size: 20px;
    font-style: italic;
    /* justify-self: right; */
    /* justify-self: flex-st; */
    /* align-self: flex-start; */
    /* margin-left: 20%; */
    margin-top: 20px;
    margin-right: 7%;
}

.card-img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

