* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(211, 211, 211);
}

.body-column {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1440px;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: minmax(435px, 40%) auto;
    height: 100vh;
}

@media screen and (max-width:900px){
    .grid {
        grid-template-columns: 100%;
    }
}

.interactive-card-section {
    background-image: linear-gradient(#280042, rgba(95, 3, 45, 0.9));
}

.card-front-container {
    display: flex;
    align-items: center;
    width: fit-content;
} 

.card-back-container {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width:900px) {
    .card-back-container {
        position: relative;
        margin-bottom: -50px;
        top: -50px;
    }

    .card-number-label {
        margin-top: 20px;
    }
}

.card-front-and-back-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-number-container {
    position: absolute;
    display: flex;
    margin-left: 24px;
    gap: 20px;
}

.card-number {
    font-size: 24px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
}

.card-holder-name {
    position: absolute;
    margin-top: 150px;
    margin-left: 24px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}
.card-expiry-row {
    display: flex;
}

.card-expiry {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    margin-left: 24px;
    margin-top: 195px;
}

.cvv {
    position: absolute;
    font-size: 20px;
    font-style: italic;
    margin-top: 20px;
    margin-right: 95px;
}

.card-img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 429px;
    max-width: 429px;
}

.label-text {
    font-weight: 600;
    font-size: 16px;
}

input {
    height: 51px;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 28px;
    padding-left: 8px;
    border-radius: 8px;
    border-style: solid;
    border-color: #727272;
    border-width: 1px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.card-expiry-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.card-expiry-row-container {
    display: flex;
    gap: 8px;
    /* width: 100%; */
    /* width: 10px; */
}

.card-expiry-mm {
    width: 30%;
}

.card-expiry-yyyy {
    width: 70%;
}

.cvc-container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.submit-btn {
    height: 60px;
    border-radius: 8px;
    background-color: #151515;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.submit-btn:hover {
    border-color: #9282F3;
}
